<div id="album-rankings">
    <h2>Album Rankings: {{albumName}}</h2>

    {{#if rankings}}
    <ul>
      {{#each rankings}}
          <li>
            <p>User: <strong>{{userName}}</strong></p>
            <p>Rating: {{rating}}</p>
            {{#if review_provided}}
            <p>Review: {{review}}</p>
            {{else}}
            <p>No review provided</p>
            {{/if}}
            <a href="/user/{{userName}}/rankings/{{id}}">View Ranking Details</a>
        {{/each}}
    </ul>
    {{else}}
    <p>No rankings yet. Be the first to add one!</p>
    {{/if}}

    <a href="/album/{{albumId}}">Back to album page</a>
    <a href="/user/{{userName}}">Back to user page</a>
</div>
