<h2>Your Rankings</h2>
{{#if rankingAlreadyExists}}
    <p>You have already ranked the album previously. Please click edit button to edit your previous ranking.</p>
{{/if}}
{{#if userRankings}}
    <ul>
        {{#each userRankings.rankings}}
            <li>
                <p>User: <strong>{{userName}}</strong></p>
                <p>Rating: {{this.rating}}</p>
                {{#if this.review_provided}}
                    <p>Review: {{this.review}}</p>
                {{else}}
                    <p>No review provided</p>
                {{/if}}
                <strong>{{this.albumName}}</strong>
                <a href="/user/{{this.userName}}/rankings/{{this.id}}">View Ranking Details</a>

            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No rankings yet. Start ranking some albums!</p>
{{/if}}
<a href="/user/{{userName}}">Back to user page</a>