<strong>{{userRanking.albumName}}</strong>
        <p>Rating: {{userRanking.rating}}</p>
        {{#if userRanking.review_provided}}
          <p>Review: {{userRanking.review}}</p>
        {{else}}
          <p>No review provided</p>
        {{/if}}
        <label>Comments</label>
        <ul id="comments">
          {{#each comments}}
            <li><p>Username: {{this.userName}}</p><p>Comment: {{this.comment}}</p></li>
          {{/each}}
        </ul>
        {{#if canEditRanking}}
        {{!-- Edit Ranking --}}
          <a href="/user/{{userName}}/rankings/{{rankingid}}/edit" class="button-style">
            <button id="edit ranking"> Edit </button>
          </a>
          <p> 
            <a href = '/user/{{userName}}/rankings/{{rankingid}}/delete'>
              <button id="delete ranking"> Delete </button>
            </a>
          </p>
        {{else}}
        {{!-- Leave a comment --}}
          <a href="/user/{{userName}}/rankings/{{rankingid}}/comment" class="button-style">
            <i class="fas fa-edit"></i> Comment on Ranking
          </a>
        {{/if}}

<p>
    <a href="/album/{{userRanking.albumId}}"> View Album Info</a>
</p>