<!-- Page for "Most popular albums based on rankings" right now --->

<p>Trending Albums on AlbumPulse:</p>
<ul class="top_ranked">
    {{#each topRanked}}
    <li><a href = "/album/{{this.albumId}}">{{this.albumName}}: Ranking {{this.avgRanking}}</a></li>
    {{/each}}
</ul>
<p id="error">{{error}}</p>
<a href="/user/{{userName}}">Back to user page</a>